* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrap {
    height: 200vh;
    width: 100vw;
}

.container-a {
    height: 60vh;
    background-color: #0EE1E1;
    display: flex;
    justify-content: start;
    align-items: center;
}

section {
    width: 39%;
}

img[ alt="box image"] {
    padding: 3rem 8rem;
}

#whatsapp_icon {
    position: absolute;
    top: 20px;
    left: 20px;
    border: 1px solid rgb(255, 255, 255);
    background-color: white;
    height: 15vh;
    padding: 25px;
    border-radius: 100%;

}

#whatsapp_icon img {
    height: 100%;
}

section h1 {
    font: normal normal 900 66px/97px Heebo;
}

section p {
    font: normal normal normal 20px/29px Heebo;
}

.container-b ul li img {
    height: 50px;
    width: 50px;
}

.container-b {
    height: 40vh;
    background-color: #e4e4e4;
}

.container-b ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;

}

.container-b ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 75%;
    text-align: center;
    background-color: #fff;
}

.container-b ul li h2 {
    font: normal normal 900 30px/44px Heebo;
    padding: 1rem;
    color: #0EE1E1;
}

.container-b ul li p {
    width: 80%;
    font: normal normal normal 15px/22px Heebo;
}

.container-c {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box1 {
    width: 55%;
    height: 100%;
    background-color: #0EE1E1;
    display: flex;
    justify-content: center;
    align-items: center;
}



#box2 {
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;

}

#box2 form {
    margin-right: 100px;
    height: 80%;
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: start;
    gap: 1rem;
}

#box2 form h1 {
    font: normal normal 900 46px/67px Heebo;
}

label {
    display: block;
    font: normal normal bold 13px/19px Heebo;
}

input {
    width: 90%;
    line-height: 2;
    background: #E5EEFF;
    border: none;
    border-bottom: #0EE1E1 solid 5px;
}

textarea {
    width: 90%;
    background: #E5EEFF;
    border: none;
    border-bottom: #0EE1E1 solid 5px;
}

#box2 form p {
    width: 80%;
    font: normal normal normal 15px/22px Heebo;
}

#box2 form button {
    width: 90%;
    border: none;
    background-color: #0EE1E1;
    padding: 10px;
    cursor: pointer;
    font: normal normal bold 20px/28px Heebo;
}

.container-d {
    height: 18vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-d ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.container-d ul li {
    padding: 1.5rem;
    border-radius: 100%;
    background-color: #0EE1E1;
}

ul img {
    height: 50px;
    width: 50px;
}

.container-e {
    height: 2vh;
    background-color: #0EE1E1;
}

@media (max-width: 767.98px) {
    .wrap {
        height: auto;
        width: 100vw;
    }

    .container-a {
        flex-direction: column;
        gap: 1rem;
        height: 50vh;
    }

    img[ alt="box image"] {
        height: 100px;
        padding: 0;
        margin: 0;
        margin-top: 1rem;
        margin-right: 1rem;
        align-self: start;
    }

    section {
        width: 80%;
    }

    section h1 {
        width: 100%;
        font: normal normal 900 45px Heebo;
    }

    section p {
        font: normal normal normal 1.1rem Heebo;
    }

    #whatsapp_icon {
        display: none;
    }

    .container-b {
        height: 135vh;
    }

    .container-b ul li {
        width: 90vw;
        height: 30vh;
        padding: 5px;
    }

    .container-b ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        gap: 1rem;
    }



    .container-c {
        flex-direction: column-reverse;
        height: auto;
    }

    .container-d {
        flex-direction: column;
    }

    .container-d ul {
        gap: 0;
    }

    .container-d ul li {
        padding: 0.6rem;
    }

    ul img {
        height: 35px;
        width: 35px;
    }

    #box2 form {
        margin-right: 0;
        width: 100%;
        justify-content: start;
        align-items: center;
    }

    #box2 {
        width: 100vw;
        height: 70vh;
    }

    input,
    textarea {
        width: 80vw;
    }

    #box2 form button {
        width: 80vw;
    }

    #box1 {
        height: 35vh;
        width: 80vw;
    }

    .container-d ul {
        gap: 20px;
    }

}